.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}


/* @media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
} */

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    height: 42px;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.link {
    height: 30px;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.link:hover {
    background-color: #555555;
    color: white;
}


.button:hover {
    background-color: #555555;
    color: white;
}

.contentSelect select::-ms-expand {
    display: none;
}

.contentSelect{
	max-width: 250px;
	position: relative;
}
 
.contentSelect select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    font-size: 20px;
    max-width: 150px;
    min-width: 150px;
    text-align: center;
}

.hr {
    border: 1px solid;
}